@import "reset"

=font-face($family, $path, $svg, $weight: normal, $style: normal)
    @font-face
        font-family: $family
        src: url('#{$path}.eot')
        src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg##{$svg}') format('svg')
        font-weight: $weight
        font-style: $style

+font-face("PTSansNarrow", fonts/PT_SansNarrowWebRegular, PT_SansNarrowWebRegular)
+font-face("PTSansNarrowBold", fonts/PT_Sans-Narrow-Web-Bold, PT_Sans-Narrow-Web-Bold)

$blue-border: #1f77a5
$blue-color: #6ca1b8
$dark-blue-color: #0f394f
$dark-blue-border: #309ad2
$grey-border: #dbdbdb
$grey-color: #c1c1c1

html
    width: 100%
    height: 100%
    background: $dark-blue-color
    font: 16px/20px PTSansNarrow 
body
    background: white
    position: relative
    box-shadow: 0px 0px 20px 2px #000
    margin: 24px
    .main
        padding: 1.063em 0.75em 0 1.063em
        display: block
        .news
            display: inline-block
            &__info
                margin-bottom: 1px
            &__item
                display: inline-block
                vertical-align: top
                width: 100%
                margin-bottom: 1.125em
                padding-bottom: 1.375em
                border-bottom: 1px solid $grey-border
                &:last-child
                    border-bottom: none
            &__link
                text-decoration: none
                display: block
                &:hover
                    opacity: .9
                    .news__img
                        img
                            border: 1px solid $dark-blue-border
            &__title
                color: $blue-color
                font-family: PTSansNarrowBold
                width: 70%
                font-size: 1.25em
                display: inline-block
                overflow: hidden
                text-overflow: ellipsis
                text-align-last: left
            &__date
                float: right
                color: $grey-color
                font-size: 0.875em
            &__img
                img
                    border: 1px solid $blue-border
                    width: 100%
                    height: auto
                    max-height: 350px
            &__description
                text-align-last: left
                color: $dark-blue-color
                font-size: 1.125em
            &__line
                height: 1px
                width: 100%
                background-color: #000

@media screen and (min-width: 700px)
    body
        margin-top: 1.438em
        .main
            padding: 2.375em 2.375em 0.875em 2.375em
            .news
                display: inline-flex
                flex-direction: row
                flex-wrap: wrap
                justify-content: space-between
                text-align: justify
                text-align-last: justify
                &__item
                    width: 49%
                    display: inline-block
                    img
                        height: 226px
                    &:nth-last-child(2)
                        border-bottom: none

@media screen and (min-width: 990px)
    body
        .main
            .news
                &__item
                    width: 32%
                    img
                        height: 221px
                    &:nth-last-child(3)
                        border-bottom: none

@media screen and (min-width: 1054px)
    body
        margin: 24px auto
        width: 990px