body, ol, ul, li, div, p, figure, figcaption {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

@font-face {
  font-family: "PTSansNarrow";
  src: url("fonts/PT_SansNarrowWebRegular.eot");
  src: url("fonts/PT_SansNarrowWebRegular.eot?#iefix") format("embedded-opentype"), url("fonts/PT_SansNarrowWebRegular.woff") format("woff"), url("fonts/PT_SansNarrowWebRegular.ttf") format("truetype"), url("fonts/PT_SansNarrowWebRegular.svg#PT_SansNarrowWebRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "PTSansNarrowBold";
  src: url("fonts/PT_Sans-Narrow-Web-Bold.eot");
  src: url("fonts/PT_Sans-Narrow-Web-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/PT_Sans-Narrow-Web-Bold.woff") format("woff"), url("fonts/PT_Sans-Narrow-Web-Bold.ttf") format("truetype"), url("fonts/PT_Sans-Narrow-Web-Bold.svg#PT_Sans-Narrow-Web-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  width: 100%;
  height: 100%;
  background: #0f394f;
  font: 16px/20px PTSansNarrow; }

body {
  background: white;
  position: relative;
  box-shadow: 0px 0px 20px 2px #000;
  margin: 24px; }
  body .main {
    padding: 1.063em 0.75em 0 1.063em;
    display: block; }
    body .main .news {
      display: inline-block; }
      body .main .news__info {
        margin-bottom: 1px; }
      body .main .news__item {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin-bottom: 1.125em;
        padding-bottom: 1.375em;
        border-bottom: 1px solid #dbdbdb; }
        body .main .news__item:last-child {
          border-bottom: none; }
      body .main .news__link {
        text-decoration: none;
        display: block; }
        body .main .news__link:hover {
          opacity: 0.9; }
          body .main .news__link:hover .news__img img {
            border: 1px solid #309ad2; }
      body .main .news__title {
        color: #6ca1b8;
        font-family: PTSansNarrowBold;
        width: 70%;
        font-size: 1.25em;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align-last: left; }
      body .main .news__date {
        float: right;
        color: #c1c1c1;
        font-size: 0.875em; }
      body .main .news__img img {
        border: 1px solid #1f77a5;
        width: 100%;
        height: auto;
        max-height: 350px; }
      body .main .news__description {
        text-align-last: left;
        color: #0f394f;
        font-size: 1.125em; }
      body .main .news__line {
        height: 1px;
        width: 100%;
        background-color: #000; }

@media screen and (min-width: 700px) {
  body {
    margin-top: 1.438em; }
    body .main {
      padding: 2.375em 2.375em 0.875em 2.375em; }
      body .main .news {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: justify;
        text-align-last: justify; }
        body .main .news__item {
          width: 49%;
          display: inline-block; }
          body .main .news__item img {
            height: 226px; }
          body .main .news__item:nth-last-child(2) {
            border-bottom: none; } }
@media screen and (min-width: 990px) {
  body .main .news__item {
    width: 32%; }
    body .main .news__item img {
      height: 221px; }
    body .main .news__item:nth-last-child(3) {
      border-bottom: none; } }
@media screen and (min-width: 1054px) {
  body {
    margin: 24px auto;
    width: 990px; } }

/*# sourceMappingURL=style.css.map */
